.footer {
    position: relative;
    padding: 4rem 0;
    height: 300px;
    @media only screen and (max-width: 998px) {
        height: 365px;
        padding: 2rem 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        @media only screen and (max-width: 998px) {
            margin-bottom: 1rem;
        }
        &-desc {
            h4 {
                font-size: 21px;
                font-weight: 600;
            }
            p {
                margin: 1rem 0;
                color: #8899a6;
            }
            a {
                span {
                    color: blue;
                }
            }
        }
    }
}