.technology {
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(155px, 1fr));
        grid-gap: 2rem;
        margin-top: -2rem;
        @media only screen and (max-width: 998px) {
            margin-top: 0;
        }
    }
    &__item {
        @media only screen and (max-width: 998px) {
            display: flex;
            justify-content: center;
        }
        img {
            opacity: .25;
            filter: grayscale(100%);
            cursor: pointer;
            transition: all .3s ease;
            object-fit: cover;
            &:hover {
                opacity: 1;
                filter: grayscale(0%);
            }
        }
    }
    &__last {
        display: flex;
        justify-content: space-between;
        margin-top: 4rem;
        @media only screen and (max-width: 998px) {
            margin-top: 2rem;
            flex-direction: column;
        }
        &-item {
            h4 {
                margin-bottom: 2rem;
                font-size: 24px;
                font-weight: bold;
            }
            img {
                @media only screen and (max-width: 998px) {
                    width: 300px;
                }
            }
        }
    }
    &__line {
        width: 1px;
        height: 100px;
        background-color: #8899a6;
        @media only screen and (max-width: 998px) {
            height: 60px;
            margin: 1rem auto;
        }
    }
}