.works {
    background: #fff;
    &__container {
        padding: 0 2rem;
    }
    &__title {
        h2 {
            font-size: 50px;
            font-weight: bold;
            @media only screen and (max-width: 556px) {
                font-size: 28px;
                line-height: 35px;
            }
        }
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-gap: 1rem;
        margin: 3rem 0;
        @media only screen and (max-width: 556px) {
            margin: 2rem 0;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        cursor: pointer;
        img {
            margin-bottom: 1rem;
            border-radius: 10px;
            object-fit: cover;
            max-width: 400px;
            @media only screen and (max-width: 556px) {
                width: 100%;
            }
        }
        h3 {
            margin-top: auto;
            font-weight: bold;
            font-size: 18px;
        }
    }
    &__watch {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-gap: 1rem;
        margin-top: 4rem;
        span {
            position: relative;
            left: 48%;
            width: 2px;
            height: 30px;
            background-color: #000;
        }
        a {
            font-weight: bold;
            color: #8899a6;
            &:hover {
                border-bottom: 1px solid #8899a6;
            }
        }
    }
}